option_settings:
  aws:ec2:vpc:
    VPCId: "vpc-03cda12dce486f776"
    
    # Sub-redes para instâncias EC2 (Uvicorn). Removi os espaços nas vírgulas.
    # OBS: O número de sub-redes (4) é alto para o --single, mas OK.
    Subnets: "subnet-0b8b8ad5168ff0916,subnet-0ecea272bf31229b1,subnet-05568a49f57bf166e" 
    
    # Sub-redes para o Load Balancer (ELB). Devem ser PÚBLICAS.
    # OBS: Você precisa substituir 'subnet-yyyyyyy3,subnet-yyyyyyy4' pelas IDs reais de SUAS sub-redes públicas.
    ELBSubnets: "subnet-04cb92a7187f68330"

  aws:autoscaling:launchconfiguration:
    # SG que será anexado à sua instância EC2 (Uvicorn)
    SecurityGroups: "sg-074090bd9d11b9530"
    
  # OPCIONAL (e se o seu ambiente for Load Balanced, se for --single, não se aplica)
  # aws:elasticbeanstalk:environment:
  #   LoadBalancerSecurityGroups: "sg-074090bd9d11b9530"

# Importante: Se você tem um arquivo para o Uvicorn, certifique-se de que ele não está no mesmo arquivo,
# ou que ele não tem comentários desnecessários, mas geralmente é melhor tê-lo em outro arquivo: 02_software.config